.button {
    background: var(--color-primary);
    color: white;
    font-family: inherit;
    padding: 2rem 1.45em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    box-shadow: inset 0 0 1.6em -0.6em #714da8;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 1.6em -0.6em #ffffff, 0.05em 0.05em #5566c2;
    }

    &:active {
        transform: translate(0.05em, 0.05em);
        box-shadow: 0.05em 0.05em #5566c2;
    }

    &:disabled {
        background: #ccc;
        color: #000;
        box-shadow: inset 0 0 1.6em -0.6em #ccc;
        cursor: not-allowed;

        svg * {
            fill: #000;
        }
    }
}

.icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    overflow: hidden;
}
